@import "../../scss/theming.scss";

.pt-element {
  $w: &;

  &,
  &[data-atom-button] {
    position: relative;
    font-weight: 600;
    padding: 8px;
    min-width: 72px;
    min-height: 72px;
    width: 100%;
    height: 100%;
    transition: none;
    display: block;
    text-transform: none;
    user-select: none;
  }

  &--error #{$w}__error {
    display: flex;
  }

  &__error {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scale(0, 0);
    will-change: transform;

    animation: error-animation 1s ease-in-out;

    @include themify($themes) {
      color: themed("danger");
      fill: themed("danger");
      background-color: themed("cardBackgroundColor");
    }
  }

  &__atomic {
    font-size: 8pt;
    text-align: left;
  }

  &__symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 18pt;
    font-weight: 700;
  }

  &__name {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 7pt;
    text-align: center;
  }
}

@keyframes error-animation {
  0%,
  100% {
    transform: scale(0, 0);
  }

  25%,
  75% {
    transform: scale(1, 1);
  }
}
