@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.mass-calculator {
  @extend %page;

  @include themify($themes) {
    color: themed("contentTextColor");
  }

  &__result-bar {
    display: flex;
    padding: 16px;
    z-index: 2;

    @include box-shadow($level: 1);

    &__text {
      font-size: 10pt;
      text-transform: uppercase;
    }

    &__value {
      margin-left: auto;
    }
  }

  &__swipe-item {
    animation: element-enter 180ms linear forwards;
  }

  &__element {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 16px;
    text-transform: none;

    @include box-shadow($level: 1);

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
    }

    &__symbol {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 48px;
      height: 48px;
      border-radius: 50%;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      text-align: start;
    }

    &__name {
      font-size: 14pt;
    }

    &__group {
      font-size: 11pt;
      padding-top: 4px;
    }

    &__quantity {
      display: flex;
      flex-direction: column;
      margin-left: auto;

      &__text {
        font-size: 12px;
      }

      &__number {
        padding-top: 4px;
      }
    }
  }

  &__controls {
    display: flex;

    @include themify($themes) {
      color: transparentize(themed("contentTextColor"), 0.22);
      fill: transparentize(themed("contentTextColor"), 0.22);
    }

    > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 12px;
    }
  }

  &__add-element-modal {
    max-width: 288px;
    max-height: 80%;
    height: 480px;
    padding: 0;
    overflow: hidden;

    @include box-shadow($level: 2);

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
      color: transparentize(themed("contentTextColor"), 0.22);
      fill: transparentize(themed("contentTextColor"), 0.22);
    }
  }

  &__modify-element-modal {
    padding: 0;
    overflow: hidden;
    max-width: 288px;
    max-height: 80%;
    height: auto;

    @include box-shadow($level: 2);

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
      color: transparentize(themed("contentTextColor"), 0.22);
      fill: transparentize(themed("contentTextColor"), 0.22);
    }
  }
}

@keyframes element-enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
