.button {
  border: 0;
  color: inherit;
  background-color: transparent;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  user-select: none;

  &--circle {
    border-radius: 50%;
  }
}

a.button {
  text-decoration: none;
  text-align: center;
}
