@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.download-app {
  &[data-atom-button] {
    position: relative;
    height: 56px;
    width: 100%;
    padding: 0 16px;
    margin-top: 16px;

    display: flex;
    align-items: center;
    border-radius: $card-border-radius;
    justify-content: flex-start;
    background: linear-gradient(-130deg, #18d3ba 0%, rgb(2, 164, 185) 100%);
    color: #fff;
    overflow: hidden;

    @include box-shadow($level: 1);
  }

  &--animation {
    animation: popDownload 500ms ease-in-out;
  }

  svg {
    position: absolute;
    right: 16px;
    bottom: 16px;
    opacity: 0.2;
    fill: #fff;
    width: 24px;
    height: 24px;
    transform: scale(2.5) rotate(-45deg);
  }

  &__text {
    margin-left: 8px;
    font-weight: 500;
    line-height: 1.1;
    font-size: 18px;
    text-align: left;
  }
}

@keyframes popDownload {
  0% {
    height: 0px;
    transform: translateX(200%);
    opacity: 0;
    margin-top: 0px;
  }

  50% {
    height: 56px;
    transform: translateX(100%);
    opacity: 0;
    margin-top: 16px;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
