@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.periodic-table-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__navbar {
    position: fixed;
    z-index: 1;

    @include box-shadow($level: 1);
  }

  &__table {
    padding-top: 56px;
    flex: 1;

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
    }
  }
}
