@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.periodic-table-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__table {
    flex: 1;
    overflow: auto;

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
    }
  }
}
