.icon-button {
  &[data-atom-button] {
    justify-content: flex-start;
    flex-direction: column;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__text {
    padding-top: 16px;
    font-weight: bold;
    font-size: 12px;
  }
}
