.icon-button {
  &[data-atom-button] {
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__text {
    padding-top: 16px;
    font-weight: 500;
    font-size: 11pt;
    line-height: 1.2;
  }
}
