@import "../../scss/common.scss";
@import "../../scss/theming.scss";

.main-menu {
  @extend %page;

  @include themify($themes) {
    background-color: themed("primary");
  }

  &__entries {
    margin-top: auto;

    display: flex;
    flex-wrap: wrap;

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
      color: themed("contentTextColor");
      fill: themed("contentTextColor");
    }
  }
}
