@import "../../scss/theming.scss";

.main-menu {
  max-width: 768px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  &__entries {
    margin-top: auto;

    display: flex;
    flex-wrap: wrap;
  }
}
