@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.main-menu {
  @extend %page;

  @include themify($themes) {
    background-color: themed("primary");
    color: themed("textColorPrimary");
  }

  @include IEFix() {
    height: 0;
  }

  &__brand {
    flex: 1;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    background-image: url("../../images/atom-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
  }

  &__app-name {
    padding-top: 8px;
    font-weight: 600;
    font-size: 16pt;
  }

  &__entries {
    display: flex;
    flex-wrap: wrap;
    margin: auto 16px 16px;
    border-radius: $card-border-radius;
    overflow: hidden;

    @include box-shadow($level: 2);

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
      color: themed("contentTextColor");
      fill: themed("contentTextColor");
    }
  }
}
