@import "../../../../scss/common.scss";
@import "../../../../scss/theming.scss";

[data-atom-button].question-card-answer {
  min-width: 50%;
  flex: 1;
  font-weight: bold;

  &--wrong {
    @include themify($themes) {
      color: themed("danger");
    }
  }
}
