@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.about {
  @extend %page;

  @include themify($themes) {
    color: themed("contentTextColor");
    fill: themed("contentTextColor");
  }

  .card {
    margin: 16px;
    border-radius: 2px;
    overflow: hidden;
  }

  &__subtitle {
    padding: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;

    @include themify($themes) {
      color: transparentize(themed("contentTextColor"), 0.22);
    }
  }

  &__navbar {
    @include box-shadow($level: 1);
  }

  &__app-preferences,
  &__about {
    &__buttons {
      display: flex;

      & > * {
        flex: 1;
        text-align: center;
      }
    }
  }

  &__about {
    &__text {
      margin: 0;
      padding: 0 16px 16px;
    }
  }
}
