@import "../../../scss/common.scss";
@import "../../../scss/theming.scss";

.periodic-table-test-settings {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
      color: themed("contentTextColor");
      fill: themed("contentTextColor");
    }
  }

  &__buttons {
    display: flex;

    @include themify($themes) {
      color: transparentize(themed("contentTextColor"), 0.22);
      fill: transparentize(themed("contentTextColor"), 0.22);
    }

    > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
    }
  }

  &__text {
    padding: 16px;

    @include themify($themes) {
      color: transparentize(themed("contentTextColor"), 0.44);
    }
  }

  &__table {
    flex: 1;
    overflow: auto;

    @include themify($themes) {
      background-color: themed("cardBackgroundColor");
    }
  }
}
