[data-atom-button].button {
  margin: 0;
  border: 0;
  padding: 16px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;
  user-select: none;
  font-weight: 500;

  &--circle {
    border-radius: 50%;
  }
}

a.button[data-atom-button] {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
