@import "../../../scss/common.scss";
@import "../../../scss/theming.scss";

.navbar {
  min-height: 56px;
  width: 100%;

  display: flex;
  align-items: center;

  @include themify($themes) {
    background-color: themed("primary");
    color: themed("textColorPrimary");
    fill: themed("textColorPrimary");
  }

  &__back-button[data-atom-button] {
    height: 100%;
  }

  &__title {
    padding-left: 16px;
    font-size: 14pt;
    font-weight: 600;
  }
}
