@import "../scss/theming.scss";

.app {
  &,
  &__content {
    height: 100%;
    min-height: 100%;
  }
}

@include themifyRoot($themes) {
  background-color: themed("backgroundColor");
  color: themed("contentTextColor");
}
