@import "../scss/theming.scss";

.app {
  &,
  &__content {
    height: 100%;
  }

  &__content {
    @include themify($themes) {
      background-color: themed("backgroundColor");
      color: themed("textColorPrimary");
    }
  }
}
