@import "../../scss/common.scss";
@import "../../scss/theming.scss";

.element-selector {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  text-transform: none;

  @include IEFix() {
    justify-content: flex-start;
  }

  &__symbol {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    text-align: left;
  }

  &__name {
    font-size: 14pt;
  }

  &__group {
    font-size: 11pt;
    padding-top: 4px;
  }

  &__checkbox {
    margin-left: auto;
  }
}
