@import "../../scss/common.scss";
@import "../../scss/theming.scss";

.valences-test {
  @extend %page;

  @include themify($themes) {
    background-color: themed("primary");
  }

  @include IEFix() {
    height: 0;
  }

  &__test {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      max-width: 360px;
      width: 100%;
    }
  }

  &__question {
    font-size: 32pt;
    font-weight: 600;
  }
}
