@import "../../scss/common.scss";
@import "../../scss/helpers.scss";

.hub {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--contentTextColor);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: var(--max-width);
  width: var(--max-width);

  // Mobile
  --max-width: 288px;
}

.topbar {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbarButton[data-atom-button] {
  color: var(--textColorPrimary);
  fill: var(--textColorPrimary);
  border-radius: 999px;
  height: 48px;
  width: 48px;
  padding: 12px;
}

.logo {
  border-radius: 128px;
  padding: 8px;

  @include box-shadow($level: 1);
}

.search {
  margin: 32px 0 16px;
  width: 100%;
  height: 48px;
  background-color: var(--cardBackgroundColor);
  color: var(--contentTextColor);
  border-radius: $card-border-radius;
  overflow: hidden;

  @include box-shadow($level: 1);

  input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0 16px;
    font-size: 18px;

    &::placeholder {
      color: inherit;
      opacity: 0.6;
    }
  }
}

:global(.theme-dark) .search,
:global(.theme-black) .search {
  border: 2px solid rgba(255, 255, 255, 0.644);

  &:focus-within {
    border: 2px solid var(--accent);
  }
}

.sections {
  width: 100%;
  padding: 16px 0;
  padding-top: 32px;

  & > * + * {
    margin-top: 32px;
  }
}
