@import "../../../scss/common.scss";

.root[data-hub-item] {
  position: relative;
  min-height: 136px;
  border-radius: $card-border-radius;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;

  @include box-shadow($level: 2);

  &[aria-disabled="true"] {
    filter: grayscale(100%);

    .overlay {
      backdrop-filter: blur(2px);
      background-color: rgba(26, 26, 26, 0.8);
    }
  }
}

.title {
  font-weight: 600;
  z-index: 1;
  text-align: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.category {
  font-weight: 800;
  text-transform: uppercase;
  // TODO: add variants for each color and use the light one here
  color: var(--accent);
  letter-spacing: 0.8px;
  z-index: 1;
  text-align: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0px -32px 96px rgba(0, 0, 0, 0.4),
    inset 0px -16px 48px rgba(0, 0, 0, 0.8);
}
