@import "../../../scss/common.scss";

.root[data-hub-item] {
  position: relative;
  min-height: 120px;
  border-radius: $card-border-radius;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;

  @include box-shadow($level: 2);

  &[aria-disabled="true"] {
    filter: grayscale(100%);
  }
}

.title {
  font-weight: 600;
  z-index: 1;
  text-align: left;
}

.category {
  font-weight: 800;
  text-transform: uppercase;
  // TODO: add variants for each color and use the light one here
  color: var(--accent);
  letter-spacing: 0.8px;
  z-index: 1;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 0;
}
