@import "~normalize.css";
@import "./scss/themes.scss";
@import "./scss/theming.scss";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.element {
  color: #fff;
  transition: background-color 250ms linear, color 250ms linear;

  &.noble_gases {
    background-color: #7e57c2;
  }

  &.alkali_metals {
    background-color: #ef5350;
  }

  &.alkali_earth_metals {
    background-color: #ff7043;
  }

  &.transition_metals {
    background-color: #ff9800;
  }

  &.basic_metals {
    background-color: #66bb6a;
  }

  &.metalloids {
    background-color: #26c6da;
  }

  &.amphigens,
  &.hydrogen {
    background-color: #42a5f5;
  }

  &.halogens {
    background-color: #5c6bc0;
  }

  &.lanthanoids {
    background-color: #7e57c2;
  }

  &.actinoids {
    background-color: #ab47bc;
  }

  &.clear {
    background-color: #78909c;
  }
}

body:not(.theme-light) .element {
  background-color: transparent;

  &.noble_gases {
    color: #7e57c2;
  }

  &.alkali_metals {
    color: #ef5350;
  }

  &.alkali_earth_metals {
    color: #ff7043;
  }

  &.transition_metals {
    color: #ff9800;
  }

  &.basic_metals {
    color: #66bb6a;
  }

  &.metalloids {
    color: #26c6da;
  }

  &.amphigens,
  &.hydrogen {
    color: #42a5f5;
  }

  &.halogens {
    color: #5c6bc0;
  }

  &.lanthanoids {
    color: #7e57c2;
  }

  &.actinoids {
    color: #ab47bc;
  }

  &.clear {
    color: #78909c;
  }
}
