$themes: (
  "dark": (
    accent: #00c8b4,
    primary: #1a1a1a,
    primaryDarker: #222,
    textColorPrimary: #ffffff,
    contentTextColor: #ffffff,
    backgroundColor: #111,
    cardBackgroundColor: #161616,
    danger: #d50000,
    textColorDanger: #ffffff,
  ),
  "light": (
    accent: #00897b,
    primary: #00897b,
    primaryDarker: #01665c,
    textColorPrimary: #ffffff,
    contentTextColor: #252525,
    backgroundColor: #fafafa,
    cardBackgroundColor: #ffffff,
    danger: #d50000,
    textColorDanger: #ffffff,
  ),
);
