$themes: (
  dark : (accent: #00897b, primary: #141f1e, primaryDarker: #081211, textColorPrimary:
        #ffffff, contentTextColor: #ffffff, backgroundColor: #203130, cardBackgroundColor:
        #141f1e, danger: #d50000, textColorDanger: #ffffff),
  light : (accent: #00897b, primary: #00897b, primaryDarker: #01665c, textColorPrimary:
        #ffffff, contentTextColor: #333, backgroundColor: #fafafa, cardBackgroundColor:
        #ffffff, danger: #d50000, textColorDanger: #ffffff)
);
