.overlay {
  position: fixed;
  z-index: 75;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.44);
  cursor: pointer;
  will-change: opacity;
}
