.pt-element {
  position: relative;
  font-weight: 600;
  padding: 8px;
  min-width: 72px;
  min-height: 72px;
  width: 100%;
  height: 100%;
  transition: none;

  &__atomic {
    font-size: 8pt;
  }

  &__symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 18pt;
    font-weight: 700;
  }

  &__name {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 7pt;
    text-align: center;
  }
}
