.pt-element {
  display: flex;
  flex-direction: column;

  font-weight: 600;
  padding: 8px;
  min-width: 72px;
  min-height: 72px;
  width: 100%;
  height: 100%;

  &__atomic {
    font-size: 8pt;
  }

  &__symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 18pt;
    padding-bottom: 4px;
    font-weight: 700;
  }

  &__name {
    font-size: 7pt;
    text-align: center;
  }
}
