@import "../../scss/common.scss";
@import "../../scss/theming.scss";
@import "../../scss/helpers.scss";

.test-selection {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-color: var(--backgroundColor);

  @include themify($themes) {
    color: themed("contentTextColor");
  }

  &__navbar {
    @include box-shadow($level: 1);
  }

  &__entries {
    max-width: 1024px;
    margin: 0 auto;

    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
